@model Friends.Models.Friend

@{
    ViewData["Title"] = "פרטי חבר";
}

<h1>פרטי חבר</h1>

<div>
    <h4>@Model.FullName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Girafa => Girafa.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Girafa => Girafa.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Girafa => Girafa.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Girafa => Girafa.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Girafa => Girafa.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Girafa => Girafa.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Girafa => Girafa.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(Girafa => Girafa.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(Girafa => Girafa.Images)
        </dt>

        <dd class="col-sm-10">
            <p>הוספת תמונה</p>
        </dd>
        <dt class="col-sm-2 mb-3">
            <button class="btn btn-primary" id="add-image-btn" onclick="addImage()">פתח</button>
            <form asp-action="AddImage" id="add-image-form" style="display:none" enctype="multipart/form-data">
                <input asp-for="Id" type="hidden" class="form-control" />
                <div class="form-group">
                    <label name="image" class="control-label"></label>
                    <input name="image" id="image" type="file" class="form-control" />
                </div>
                <div class="form-group">
                    <input onclick="addImage()" type="submit" value="הוסף תמונה" class="btn btn-dark mt-1" />
                </div>
            </form>
        </dt>

        <dd class="col-sm-10">
            @if (!Model.Images.Any())
            {
                <h3>אין תמונות לחבר</h3>
            }
            else
            {
                <div id="carouselExampleIndicators" class="carousel slide" style="max-height:400px; margin:auto" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        @for (int i = 0; i < Model.Images.Count; i++)
                        {
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-current="@(i == 0 ? "true" : "false")" aria-label="Slide @i"></button>
                        }
                    </div>
                    <div class="carousel-inner" style="background-color:dimgrey">
                        @for (int i = 0; i < Model.Images.Count; i++)
                        {
                            var img = Model.Images[i];
                            <div class="carousel-item @(i == 0 ? "active" : "")">
                                <img class="d-block w-100" style="max-height:400px; object-fit:contain" src="data:image;base64,@Convert.ToBase64String(img.myImage)" alt="Slide @i">
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>